<ul class="social-media-list">
    <li><a href="https://github.com/polichain"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
            </svg> <span class="username">polichain</span></a></li>
    <li><a href="https://instagram.com/polichain.xyz"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#instagram"></use>
            </svg> <span class="username">polichain.xyz</span></a></li>
    <li><a href="https://www.linkedin.com/company/polichainusp"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
            </svg> <span class="username">polichainusp</span></a></li>
    <li><a href="https://twitter.com/polichainxyz"><svg class="svg-icon">
                <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
            </svg> <span class="username">polichainxyz</span></a></li>
</ul>